<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Formulario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#" color="medium"></ion-back-button>
      </ion-buttons>
      <ion-title>Alquiler</ion-title>
      <img src="assets/culo.jpg" alt="" width="120px" class="logo">
    </ion-toolbar>
    
  </ion-header>

  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfCOJHyG0AIsBMGPyIXdM_o6HFVHH1U0kXC6JZFMD08MOR9xw/viewform?embedded=true" width="390" height="1200" frameborder="0" marginheight="0" marginwidth="0" (load)="handleIframeLoad()">Cargando…</iframe>


  
 
  